.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.carousel-image {
  width: 100%;
  height: 415px;
  object-fit: cover;
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.carousel-button img {
  width: 100%;
  height: 100%;
}

/* Supprime le contour du bouton en mode focus */
.carousel-button:focus {
  outline: none;
}

.carousel-button:first-of-type {
  left: 10px;
}

.carousel-button:last-of-type {
  right: 10px;
}

.carousel-counter {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 5px 10px;
}

@media (max-width: 768px) {

  .carousel-button img {
    width: 25%;
    height: 25%;
  }
}