.properties-wrapper {
  background: #F6F6F6;
  border-radius: 25px;
  padding: 50px;
  margin: 50px 0;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 60px;
  padding: 0;
  max-width: 1240px;
  margin: 0 auto;
  justify-content: center;
}


@media (max-width: 768px) {
  .properties-wrapper {
    background: none;
    padding: 0;
    margin: 25px 0;
  }
  
  .cards-container {
    gap: 22px;
  }
}
