footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 0;
    padding-bottom: 10px;
}

.footer-logo {
    width: 122px;
}

@media (max-width: 768px) {
    footer p {
        width: 100%;
        margin: 0 auto;
        word-wrap: break-word; /* retour à la ligne */
    }
}


