.collapse {
  margin: 20px auto; /* Centre le composant */
  border-radius: 5px;
  overflow: hidden;
  width: 85%;
}

.collapse-header {
  background-color: #FF6060;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.collapse-title {
  margin: 0;
  font-size: 18px;
}

@keyframes rotate-up {
  0% { transform: rotate(90deg); }
  100% { transform: rotate(-90deg); }
}

@keyframes rotate-down {
  0% { transform: rotate(-90deg); }
  100% { transform: rotate(90deg); }
}

.collapse-chevron.open {
  animation: rotate-up 0.4s forwards;
}

.collapse-chevron.closed {
  animation: rotate-down 0.4s forwards;
}

.collapse-content {
  background-color: #F6F6F673;
  color: #000000;
  padding: 5px;
  padding-left: 1.5rem;
  text-align: left;
  overflow: hidden;
  height: 0;
  transition: height 0.6s ease-in-out;
}

.collapse-content.animate {
  height: auto;
}

.collapse-content p {
  transform: translateY(-120px); /* Initialement décalé vers le haut */
  transition: transform 0.4s;
}

.collapse-content.animate p {
  transform: translateY(0); /* Descend à sa position normale */
}

.collapse-content.animate p.closing {
  transform: translateY(-120px); /* Remonte vers le haut */
}

.collapse-chevron {
  transition: transform 0.3s ease-in-out;
  transform-origin: 20% 50%; /* réglage du centre de rotation */
}

@media (max-width: 768px) {
  .collapse {
    width: 100%;
  }

  .collapse-header {
    padding: 5px 20px;
  }

  .collapse-content {
    padding: 2px;
  }
}
