.property-title {
  color: #FF6060;
  font-size: 36px;
  text-align: left;
  font-family: Montserrat;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.property-host {
  display: flex;
  align-items: center;
}

.host-name {
  color: #FF6060;
  font-size: 18px;
  margin-right: 10px;
  white-space: pre-line; /* Retour à la ligne */
  text-align: right;
}

.host-photo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.property-location {
  color: black;
  font-size: 18px;
  text-align: left;
  font-family: Montserrat;
  margin-top: 0px;
  margin-bottom: 10px;
}

.tags-rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.collapses-container {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  margin-bottom: 20px;
  gap: 76px;
}

.collapse {
  flex: 1; /* remplit l'espace disponible */
}

.collapse ul {
  list-style-type: none; /* suppr bullets */
  padding-left: 0;
}
