.property-title {
  color: #FF6060;
  font-size: 36px;
  text-align: left;
  font-family: Montserrat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

/* Conteneur général pour aligner titre et host/rating sur la même ligne */
.property-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title-location-tags-container {
  width: 70%;
}

.property-host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.host-name {
  color: #FF6060;
  font-size: 18px;
  margin-right: 10px;
  white-space: pre-line;
  /* Retour à la ligne */
  text-align: right;
}

.host-photo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.property-location {
  color: black;
  font-size: 18px;
  text-align: left;
  font-family: Montserrat;
  margin-top: 0px;
  margin-bottom: 10px;
}

.tags-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

/* Conteneur de l'hôte et du rating */
.host-rating-container {
  display: flex;
  flex-direction: column-reverse;
  /* Hôte au-dessus du rating */
  gap: 20px;
}

.collapses-container {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  margin-bottom: 20px;
  gap: 76px;
}

.collapse {
  flex: 1;
  /* remplit l'espace disponible */
}

.collapse ul {
  list-style-type: none;
  /* suppr bullets */
  padding-left: 0;
}

/* Version mobile */
@media (max-width: 768px) {
  .tags-container {
    justify-content: left;
    margin-top: 0px;
  }

  .host-rating-container {
    flex-direction: row;
    /* Hôte à droite et rating à gauche */
    justify-content: space-between;
    width: 100%;
  }

  .property-title {
    font-size: 18px;
  }

  .title-location-tags-container {
    width: 100%;
  }

  .property-location {
    font-size: 14px;
  }

  .host-photo {
    width: 32px;
    height: 32px;
  }

  .host-name {
    font-size: 12px;
  }

  .host-rating-container {
    margin-top: 15px;
  }

  .collapses-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 10px;
  }

  .collapse {
    margin-top: 5px;
    margin-bottom: 6px;
  }

}